<div class="mt-6 bg-yellow-100 rounded-md p-4">
  <%= render partial: "userpages/custom_words/word_section", locals: { words: words } %>
  <%= paginate words, param_name: :custom_page, params: { tab: 'custom' } %>
</div>