<% set_meta_tags title: "ワード生成" %>
<div class="flex items-center justify-center px-4">
  <div class="mt-20 max-w-3xl w-full bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="bg-pink-100/70 py-4 px-6 rounded-t-2xl border-b border-pink-200">
      <div class="flex justify-center space-x-2 mt-4 mb-4">
        <div class="bg-pink-200 text-pink-700 text-md font-semibold px-4 py-2 rounded-full shadow-sm">
          <i class="bi bi-lightbulb mr-2"></i> 知る
        </div>
        <%= link_to page_path('how_to_use/ai_messages'), rel: "noopener", class: "text-pink-600 hover:text-pink-800 mt-1", title: "ポジティブワードを作るの使い方" do %>
          <i class="bi bi-question-circle-fill text-xl"></i>
        <% end %>
      </div> 

      <div class="items-center mb-4">
        <h1 class="text-2xl font-bold text-red-400 text-center">
          ポジティブワードを作る
        </h1>
      </div>

      <p class="text-md text-gray-600 text-center">
        誰に、どんな気持ちを伝えたい？
      </p>
      <p class="text-md text-gray-600 text-center">
        下のフォームに自由に書いてみて！
      </p>
    </div>

    <div class="p-6">
      <% if params[:error].present? %>
        <div class="mt-6 bg-red-100 text-red-600 p-4 rounded-md">
          <strong>エラー:</strong> <%= params[:error] %>
        </div>
      <% end %>

      <%= render 'form' %>

      <% if @positive_word&.persisted? %>
        <div id="result-section" class="mt-6 bg-pink-50 border-l-4 border-pink-400 py-8 px-8 rounded-xl shadow-sm">
        <div id="confetti-container" class="fixed inset-0 pointer-events-none z-50"></div>
          <%= render 'result', positive_word: @positive_word %>
        </div>
      <% end %>
    </div>

  </div>
</div>
