<div class="mt-10 text-center space-y-2">
  <%= link_to '利用規約', page_path('term_of_service'), class: 'text-gray-500 text-lg block' %>
  <%= link_to 'プライバシーポリシー', page_path('policy'), class: 'text-gray-500 text-lg block' %>
</div>

<p class="text-gray-600 text-lg text-center mt-2 py-6">
  Copyright © 2025 ポジほめワード. All rights reserved.
</p>
