<div class="bg-green-100 py-2 px-4">
  <h3 class="text-center text-2xl sm:text-3xl font-semibold text-green-600 py-4">
    カスタムワード: <span class="text-pink-500"><%= @custom_words.count %></span> 個
  </h3>
  <ul class="mb-8 space-y-2 text-lg text-gray-700">
    <% words.each do |word| %>
      <li class="py-3 px-6 bg-white text-2xl text-gray-800 rounded-full shadow-sm font-semibold leading-relaxed hover:bg-yellow-100 transition-all flex items-center justify-between gap-x-3">
        <div class="flex items-center gap-x-3">
          <span class="text-green-600">●</span>
          <%= word.word %>
        </div>
        <div class="flex items-center gap-x-3">
        <%= link_to edit_userpage_path(word), class: "text-ingot-600 hover:text-ingot-800" do %>     
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= button_to userpage_path(word), method: :delete, form: { data: { turbo: false } }, class: "text-red-600 hover:text-red-800" do %>     
          <i class="bi bi-trash-fill"></i>
        <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>