<div class="space-y-2">
  <%= render partial: 'ai_messages/result', collection: @favorited_words_page, as: :positive_word,
             locals: {
               show_header_and_button: false,
               favorited_word_ids: @favorited_word_ids,
             } %>
</div>