<%= search_form_for @q, url: userpages_path, method: :get, html: { class: 'w-full sm:w-3/4 mx-auto mb-6' } do |f| %>
  <div class="relative mb-6 w-full sm:max-w-md md:max-w-lg"
       data-controller="autocomplete"
       data-autocomplete-url-value="<%= autocomplete_url %>"
       role="combobox">
  
    <div class="flex w-full space-x-2">
      <%= f.text_field :word_cont,
            class: 'flex-grow bg-white p-2 border border-gray-300 text-gray-700 focus:outline-none focus:ring-2 focus:ring-yellow-300 rounded-md',
            placeholder: 'ワード検索',
            data: { autocomplete_target: "input" } %>
      
      <%= f.submit '検索',
            class: 'whitespace-nowrap text-white bg-yellow-500 hover:bg-yellow-600 py-2 px-4 rounded-md shadow-md' %>
    </div>
  
    <ul class="absolute z-50 mt-1 bg-white  w-full sm:max-w-md md:max-w-lg  rounded-md text-sm"
        data-autocomplete-target="results">
    </ul>    
  </div>  
<% end %>