<%# userpages/_word_list.html.erb %>
<%# wordsはページネーションされたコレクション %>
<%# selected_categoryは現在の選択カテゴリ %>

<% if words.present? %>
  <% if selected_category == "custom" %>
    <div class="mt-6 bg-yellow-100 rounded-md p-4">
      <%= render 'userpages/custom_words/word_section', words: words %>
    </div>
  <% elsif selected_category == "favorite" %>
    <div class="mt-6 bg-red-100 rounded-md p-4">
      <%= render 'favorited_words_section', words: words %>
    </div>
  <% else %> <%# 'all' またはその他の場合 %>
    <div class="mt-6 bg-yellow-100 rounded-md p-4 mb-4">
      <h4 class="text-xl font-semibold text-yellow-700 mb-4">カスタムワード</h4>
      <% custom_words_on_page = words.where(is_custom: true).where.not(id: current_user.favorited_words.pluck(:positive_word_id)) %>
      <% if custom_words_on_page.present? %>
        <%= render 'userpages/custom_words/word_section', words: custom_words_on_page %>
      <% else %>
        <p class="text-center text-lg text-gray-600 py-4">カスタムワードはありません</p>
      <% end %>
    </div>

    <div class="mt-6 bg-red-100 rounded-md p-4">
      <h4 class="text-xl font-semibold text-red-700 mb-4">お気に入りワード</h4>
      <% favorited_words_on_page = words.where(id: current_user.favorited_words.pluck(:positive_word_id)) %>
      <% if favorited_words_on_page.present? %>
        <%= render 'favorited_words_section', words: favorited_words_on_page %>
      <% else %>
        <p class="text-center text-lg text-gray-600 py-4">お気に入り登録はありません</p>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="text-center text-lg text-gray-600 py-8 bg-yellow-100 rounded-md">表示するワードはありません</p>
<% end %>