<turbo-stream action="remove" targets=".custom-word-<%= @custom_word.id %>"></turbo-stream>

<%= turbo_stream.replace "custom_words" do %>
  <%= render partial: "userpages/custom_words/word_section_with_pagination", locals: {
    words: @custom_words_page
  } %>
<% end %>

<turbo-stream action="replace" target="word-summary-header">
  <template>
    <div id="word-summary-header" class="text-center text-4xl font-semibold text-gray-700 mb-6">
      <%= render partial: "userpages/header", locals: {
        total_count: @custom_words.count + current_user.favorited_words.count,
        custom_count: @custom_words.count,
        favorite_count: current_user.favorited_words.count
      } %>
    </div>
  </template>
</turbo-stream>
