<% content_for :title, "ユーザーページ" %>

<h2 class="text-center text-5xl font-bold text-gray-900 mb-10">
  <%= current_user.username %> さんのページ
</h2>

<div class="mt-10 sm:mx-auto sm:w-full sm:max-w-lg">
  <div class="mt-6 text-center">
    <%= link_to "トップページに戻る", root_path, class: 'text-lg text-blue-500 font-semibold hover:text-blue-400' %>
  </div>

  <div class="mt-6 text-center">
    <%= link_to "ポジティブワードを知る", positive_words_path, class: 'text-lg text-blue-500 font-semibold hover:text-blue-400' %>
  </div>

  <div class="mt-6 text-center">
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: 'inline-block text-sm font-medium text-white bg-red-700 hover:bg-red-700 px-4 py-2 rounded-md' %>
  </div>
</div>