<% set_meta_tags title: "新規投稿作成" %>
  <% if params[:alert].present? %>
    <div class="mt-6 bg-red-100 text-red-600 p-4 rounded-md">
      <strong>エラー:</strong> <%= params[:alert] %>
    </div>

  <% end %>

<div class="flex items-center justify-center px-4">
  <div class="mt-20 max-w-3xl w-full bg-white rounded-2xl shadow-lg overflow-hidden">
    <div class="bg-red-100 py-8 px-6 rounded-t-2xl border-b border-red-200">
      <h2 class="text-center text-2xl font-bold text-red-600">
        <i class="bi bi-pencil-square text-red-400 mr-2"></i> 新規投稿作成
      </h2>
    </div>
    <div class="p-6">
      <%= render 'form', post: @post %>
    </div>
  </div>
</div>