<p><%= @resource.email %> さん、こんにちは。</p>

<p>パスワード再設定のリクエストがありました。</p>

<p>新しいパスワードの設定は、以下のリンクから行えます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこの操作に心当たりがない場合は、このメールは無視していただいて大丈夫です。</p>
<p>リンクにアクセスしない限り、パスワードは変更されませんのでご安心ください。</p>

<p>引き続き 「ポジほめワード」よろしくお願いいたします。</p>